.Map {
    width: 50%;
    /* height: 100%; */
    padding:1.8rem;
    background: #FFF;
    border-radius: 0.6rem;
    -webkit-border-radius:0.6rem;
    -moz-border-radius: 0.6rem;
    box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.13);
    
}

.Pano{
    width: 200px;
    height: 200px;
}

/* .Map img{

    width: 100%;
    
} */