.Map {
    width: 50%;
    height: 100%;
    padding:30px;
    background: #FFF;
    border-radius: 0.6rem;
    -webkit-border-radius:0.6rem;
    -moz-border-radius: 0.6rem;
    box-shadow: 0px 0px 0.6rem rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 0.6rem rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 0.6rem rgba(0, 0, 0, 0.13);
    
}

.Map img{

    width: 100%;
    
}